@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-dark-color: #252532;
  --dark-color: #18181b;
  --blue: #0cbaf1;
  --purple: #e95ce9;
  --gray: #b0b0b2;
}

@layer components {
  .gradient {
    @apply bg-gradient-to-r from-[--blue] to-[--purple];
  }
  .gradient-text {
    @apply gradient text-transparent bg-clip-text w-fit;
  }
  .section-name {
    @apply font-medium text-xs uppercase gradient-text;
  }
  .section-title {
    @apply font-semibold text-4xl lg:text-5xl;
  }
  .section-text {
    @apply font-normal text-[1rem] text-[--gray];
  }
}

.sec-button {
  padding: 12px 24px;
  border: 1px solid;
  border-image: linear-gradient(to right, var(--blue), var(--purple));
  border-image-slice: 1;
  z-index: 10;
  @apply hover:bg-gradient-to-r hover:from-[--blue] hover:to-[--purple];
}

.socials {
  padding: 12px;
  border: 1px solid;
  border-image: linear-gradient(to right, var(--blue), var(--purple));
  border-image-slice: 1;
  @apply hover:bg-gradient-to-r hover:from-[--blue] hover:to-[--purple] z-10;
}
